In [1]:
import matplotlib.pyplot as plt
import matplotlib as mpl
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline

In [2]:
playerdata_1718season = '.\playerstatsbygame_20172018_regularseason.csv'
playerseason_data = '.\Seasons_Stats.csv'
salarydata = './nba_salaries_1990_to_2018.csv'
rpm_data = './RPM_data.xlsx'

playerstats_1718 = pd.read_csv(playerdata_1718season)
playerseasondata = pd.read_csv(playerseason_data)
salarydata = pd.read_csv(salarydata)
rpmdata = pd.read_excel(rpm_data, sheet_name='Agg')

In [3]:
# Team names are slightly different between stats & salary, so need to remap before joining:

team_map = {'ATL': 'ATL','BOS': 'BOS','BRK': 'NJN','CHA': 'CHA','CHH': 'CHA','CHI': 'CHI','CHO': 'CHA',
'CLE': 'CLE','DAL': 'DAL','DEN': 'DEN','DET': 'DET','GSW': 'GSW','HOU': 'HOU','IND': 'IND','LAC': 'LAC',
'LAL': 'LAL','MEM': 'MEM','MIA': 'MIA','MIL': 'MIL','MIN': 'MIN','NJN': 'NJN','NOH': 'NOH','NOK': 'NOH',
'NOP': 'NOP','NYK': 'NYK','OKC': 'OKC','ORL': 'ORL','PHI': 'PHI','PHO': 'PHO','POR': 'POR','SAC': 'SAC',
'SAS': 'SAS','SEA': 'SEA','TOR': 'TOR','TOT': 'TOT','UTA': 'UTA','VAN': 'MEM','WAS': 'WAS','WSB': 'WAS'}

playerseasondata['Tm'] = playerseasondata['Tm'].map(team_map)

In [4]:
# combine salary data (1990 - 2017 season end) with stats for one giant player table
# Note, each year is the season end year
# Combine based on player, season, & team (players may have played on >1 team in a season, so this makes sure we join right)

stats = playerseasondata.loc[playerseasondata.loc[:, 'Year'] >= 1990, :]
salary = salarydata.loc[salarydata.loc[:, 'season_end'] <=2017, :]
data = stats.merge(salary, left_on=['Player', 'Year', 'Tm' ], right_on = ['player', 'season_end', 'team'], how='outer')

#get rid of columns I don't want/duplicates and rename existing for clarity

data.drop(['Unnamed: 0','3PAr', 'blank2',
 'blanl', 'BPM', 'DBPM', 'eFG%', 'FTr', 'OBPM', 'team_name', 'VORP', 'WS/48'], axis=1, inplace=True)

data.rename(columns={ '2PA':'2PAttempt', '2P':'2PMade', '2P%':'2Pt%', '3P%':'3Pt%',
 '3PA':'3PtAttempt', '3P':'3PtMade', 'Age':'Age_seasonEnd', 'AST%':'Assist%',
 'AST':'Assists', 'BLK%':'Block%', 'BLK':'Blocks', 'DRB%':'Drebound%',
 'DRB':'Drebounds', 'DWS': 'Dwinshares', 'FG%':'FG%', 'FGA':'Fgattempt', 'FG':'Fgmade',
 'FT%':'FT%', 'FTA':'FTAttempt', 'FT':'FTMade', 'G':'Games',
 'GS':'GamesStarted', 'MP':'MinPlayed', 'ORB':'Offrb', 'ORB%':'OffRb%',
 'OWS': 'OffWinShares', 'PER':'PER', 'PF':'PersonalFouls', 'Player':'Player', 'player':'player',
 'Pos':'Position', 'PTS':'Pts', 'salary':'Salary', 'season_end':'Season_End',
 'season_start':'Season_Start', 'STL%':'Steal%', 'STL':'Steals',
 'team':'Team', 'Tm': 'Stats_Team', 'TRB%':'TotalRbnd%', 'TRB':'TotalRbnds',
 'TS%':'TS%', 'TOV':'Turnover', 'TOV%':'Turnover%','USG%':'Usg%', 'WS':'WinShares', 'Year': 'Stats_SeasonEnd'}, inplace=True)

In [5]:
#Build a dictionary of full team names for use later

team_fullnames = {'LAL': 'LA Lakers', 'PHO': 'Phoenix Suns' , 'DAL':'Dallas Mavericks' , 
                  'MIA': 'Miami Heat', 'CLE': 'Cleveland Cavaliers', 'WAS': 'Washington Wizards',
                  'CHI': 'Chicago Bulls', 'GSW': 'Golden State Warriors', 'IND': 'Indiana Pacers',
                  'BOS': 'Boston Celtics', 'HOU': 'Houston Rockets', 'SAC': 'Sacramento Kings',
                  'ORL': 'Orlando Magic', 'NOH': 'New Orleans Pelicans/Hornets', 'TOR': 'Toronto Raptors',
                  'CHA': 'Charlotte Hornets', 'POR': 'Portland Trailblazers', 'DET': 'Detroit Pistons',
                  'PHI': 'Philadelphia 76ers', 'MIL': 'Milwaukee Bucks', 'DEN': 'Denver Nuggets', 
                  'OKC': 'OKC Thunder', 'NJN': 'Brooklyn Nets', 'LAC': 'Los Angeles Clippers', 'ATL': 'Atlanta Hawks', 
                  'MEM': 'Memphis Grizzlies', 'UTA': 'Utah Jazz','MIN': 'Minnesota Timberwolves', 'NYK': 'New York Knicks',
                  'SAS': 'San Antonio Spurs'}

Deal with null values

In [6]:
data.isnull().sum()

Stats_SeasonEnd    1446
Player             1446
Position           1446
Age_seasonEnd      1446
Stats_Team         1446
Games              1446
GamesStarted       1446
MinPlayed          1446
PER                1451
TS%                1517
OffRb%             1451
Drebound%          1451
TotalRbnd%         1451
Assist%            1451
Steal%             1451
Block%             1451
Turnover%          1504
Usg%               1451
OffWinShares       1446
Dwinshares         1446
WinShares          1446
Fgmade             1446
Fgattempt          1446
FG%                1526
3PtMade            1446
3PtAttempt         1446
3Pt%               4133
2PMade             1446
2PAttempt          1446
2Pt%               1552
FTMade             1446
FTAttempt          1446
FT%                2089
Offrb              1446
Drebounds          1446
TotalRbnds         1446
Assists            1446
Steals             1446
Blocks             1446
Turnover           1446
PersonalFouls      1446
Pts                1446
player             5238
Salary             5238
Season_End         5238
Season_Start       5238
Team               5238
dtype: int64

In [8]:
#For NaN stats values, a '0' is an acceptable number, so will fill in missing stats with 0.

fillwithzero = ['Games',
 'GamesStarted',
 'MinPlayed',
 'PER',
 'TS%',
 'OffRb%',
 'Drebound%',
 'TotalRbnd%',
 'Assist%',
 'Steal%',
 'Block%',
 'Turnover%',
 'Usg%',
 'WinShares',
 'Fgmade',
 'Fgattempt',
 'FG%',
 '3PtMade',
 '3PtAttempt',
 '3Pt%',
 '2PMade',
 '2PAttempt',
 '2Pt%',
 'FTMade',
 'FTAttempt',
 'FT%',
 'Offrb',
 'Drebounds',
 'TotalRbnds',
 'Assists',
 'Steals',
 'Blocks',
 'Turnover',
 'PersonalFouls',
 'Pts']

data[fillwithzero] = data[fillwithzero].fillna(value=0)

Replace missing salary values with each player's average salary:

In [10]:
data.loc[:, ['Stats_SeasonEnd', 'Salary', 'Player']].groupby('Stats_SeasonEnd').count()

                 Salary  Player
Stats_SeasonEnd
1990.0                0     459
1991.0              333     441
1992.0              320     458
1993.0              316     449
1994.0              335     481
1995.0              289     452
1996.0              353     545
1997.0              352     574
1998.0              321     547
1999.0              325     507
2000.0              276     496
2001.0              362     537
2002.0              405     500
2003.0              374     483
2004.0              364     585
2005.0              364     585
2006.0              386     563
2007.0              321     516
2008.0              358     595
2009.0              386     582
2010.0              418     578
2011.0              385     625
2012.0              431     551
2013.0              388     573
2014.0              343     611
2015.0              429     652
2016.0              471     578
2017.0              475     595

In [12]:
playeravgsal = data.loc[:, ['Player', 'Salary']].groupby('Player').mean()
playeravgsal = playeravgsal.to_dict()
playeravgsal = playeravgsal['Salary']

data.Salary = data.Salary.fillna(data.Player.map(playeravgsal))

salaryplayercount = data.loc[:, ['Stats_SeasonEnd', 'Salary', 'Player']].groupby('Stats_SeasonEnd').count()
salaryplayercount['ratio'] = salaryplayercount['Salary'] / salaryplayercount['Player']
salaryplayercount

#Majority of rows now have a salary attached

                 Salary  Player     ratio
Stats_SeasonEnd
1990.0              344     459  0.749455
1991.0              405     441  0.918367
1992.0              440     458  0.960699
1993.0              436     449  0.971047
1994.0              460     481  0.956341
1995.0              435     452  0.962389
1996.0              527     545  0.966972
1997.0              552     574  0.961672
1998.0              538     547  0.983547
1999.0              498     507  0.982249
2000.0              484     496  0.975806
2001.0              530     537  0.986965
2002.0              498     500  0.996000
2003.0              478     483  0.989648
2004.0              576     585  0.984615
2005.0              577     585  0.986325
2006.0              555     563  0.985790
2007.0              509     516  0.986434
2008.0              590     595  0.991597
2009.0              574     582  0.986254
2010.0              574     578  0.993080
2011.0              614     625  0.982400
2012.0              538     551  0.976407
2013.0              561     573  0.979058
2014.0              580     611  0.949264
2015.0              640     652  0.981595
2016.0              576     578  0.996540
2017.0              591     595  0.993277

Setup some dummy variables for position:

In [13]:
data.Position.value_counts()

position_map = {'PF': 1, 'PG': 2, 'C': 3, 'SG': 4, 'SF': 5, 'PG-SG': 6, 'SG-PG': 6, 'SG-SF': 7, 'SF-SG': 7,
               'C-PF': 8, 'PF-SF': 9, 'PF-C':8, 'SF-PF': 9, 'SG-PF': 10, 'C-SF': 11, 'PG-SF':1}

data['Position_Mapped'] = data['Position'].map(position_map)