In [15]:
import matplotlib.pyplot as plt
import matplotlib as mpl
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline

In [17]:
salarydata = pd.read_csv('./nba_salaries_1990_to_2018.csv')
salarydata.head()

       player   salary  season_end  season_start team           team_name
0  A.C. Green  4851000        1997          1996  DAL    Dallas Mavericks
1  A.C. Green  5125088        1999          1998  DAL    Dallas Mavericks
2  A.C. Green  1750000        1991          1990  LAL  Los Angeles Lakers
3  A.C. Green  1750000        1992          1991  LAL  Los Angeles Lakers
4  A.C. Green  1750000        1993          1992  LAL  Los Angeles Lakers

IndexError: list index out of range

In [14]:
from bs4 import BeautifulSoup
import requests
import pandas as pd 

url = "https://www.basketball-reference.com/teams/LAL/2015.html#all_salaries2"
r = requests.get(url)
data = r.text
soup = BeautifulSoup(data)

table = soup.find('table', id='Salaries')
print(table)

None

C:\Users\testr\Anaconda\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file C:\Users\testr\Anaconda\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))